.widget-status {
	background: orange;
	font-size: 65px;
}
.total_leads {
	background: #006A4E;
}
.cc1 {
	background: #035096;
}
.cc2 {
	background: #C23B22;
}
.letters_dispatched {
	background: #9C2542;
}
.taxis_booked {
	background: #682860;
}
.home_visits {
	background: #006D5B;
}